<div class="container list-operations-card">
  <br/>
    <div class="row">
      <div class="col-12">
        <form [formGroup]="form">
          <label for="operation" class="form-label">Select Operation</label>
          <select class="form-select" aria-label="Select operation" id="operation" formControlName = "operation">
            <option *ngFor="let operation of operations" [value]="operation">{{operation}}</option>
          </select>
          <div class="alert alert-danger" role="alert" *ngIf="form.controls['operation'].status==='INVALID'">
            {{form.controls['operation'].errors?.message}}
          </div>
        </form>
      </div>
    </div>
    <div class="container justify-content-end">
      <br /><br /><br />
      <button (click)="next()" type="button"  style="float:right" class="btn btn-light justify-content-end">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg> Next</button>
    </div>
</div>